
.page-c .window {/*窗户*/
    left: 8rem;
}
.window-left.close,
.window-right.close {
    animation: closeWindow 2s forwards;
}
@keyframes closeWindow {
    100% {
        transform: scale(1) rotateY(0deg) rotateZ(0deg);
        margin-right: 0;
        margin-left: 0;
    }
}

.deer{	/*雪橇*/    
    width: 5rem;
	height: 1.5rem;
	position: absolute;
	z-index: 3;
	bottom: 1rem;
	right: 4rem;
    background: url(../images/c/deer.png) -300% 100%;
    background-size: 400% 100%;  
}
.deer-animate{	/*雪橇动画*/
	animation: deerAnimate 750ms steps(3, end) infinite;
}
@keyframes deerAnimate{
	0%{
		background-position: 0% 100%;
	}
	100%{
		background-position: -300% 100%;
	}
}

.window-scene-bg {	/*场景背景*/
    background: url(../images/c/window-scene-bg.png);
    background-size: 100% 100%;
    width: 2.26rem;
    height: 1.2rem;
    position: absolute;
    left: 50%;
    bottom: .1rem;
    z-index: -1;
    margin-left: -1.13rem;
    transform: translateZ(-50px);
}

.window-close-bg {	/*关门背景*/
    background: url(../images/c/window-close-bg.png);
    background-size: 100% 100%;
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    left: 50%;
    bottom: .1rem;
    margin-left: -0.4rem;
    transform: translateZ(-50px);
    opacity: 0;
    z-index: 500;
}