/*背景图*/

.a_background {
    width: 100%;
    height: 100%;
    position: absolute;
}

.a_background_top{
    width: 100%;
    height: 71.6%;
    background-image: url(../images/background/a_background_top.png);
    background-size: 100% 100%;
}


.a_background_middle{
    width: 100%;
    height: 13.1%;
    background-image: url(../images/background/a_background_middle.png);
    background-size: 100% 100%;
}

.a_background_botton{
    width: 100%;
    height: 15.3%;
    background-image: url(../images/background/a_background_botton.png);
    background-size: 100% 100%;
}

/* 太阳  */
#sun{
	position: absolute;
	background: url(../images/sun.png) no-repeat;
 	z-index: 1;
    top: -30px;
    right: 100px;
    height: 201px;
    width: 201px;
}
.rotation {
	-moz-animation-name: sun;
	-moz-animation-direction: 60s;
	-webkit-animation: sun 60s;
	-ms-animation: sun 60s;
}
@-moz-keyframes sun{
	0%{
		transform: translate(0,0);
	}
	100%{
		transform: translate(2000px,400px);
	}
}
@-webkit-keyframes sun{
	0%{
		transform: translate(0,0);
	}
	100%{
		transform: translate(-2000px,400px);
	}
}
@-ms-keyframes sun{
	0%{
		transform: translate(0,0);
	}
	100%{
		transform: translate(-2000px,400px);
	}
}

/* 云   */
.cloud {
    z-index: 2;
    position: absolute;
}

.cloud1 {
    width: 100%;
	height: 30%;
    left: -5%;
    top: 15%;
    background: url(../images/cloud1.png) no-repeat;
}


.cloud2 {
    width: 100%;
	height: 100%;
	top: 0;
    right: -5%;
    background: url(../images/cloud2.png) no-repeat;
}

.cloud1Anim{
	-moz-animation-name: smallCloud;
	-moz-animation-direction: 50s;
	-moz-animation-iteration-count: infinite;
	-webkit-animation: smallCloud 50s infinite;
	-ms-animation: smallCloud 50s infinite;
}

.cloud2Anim{
	-moz-animation: largeCloud 50s infinite;
	-webkit-animation: largeCloud 50s infinite;
	-ms-animation: largeCloud 50s infinite;
}

@-moz-keyframes smallCloud{
	0%{
		left: -5%;
	}
	100%{
		left: 100%;
	}
}
@-Webkit-keyframes smallCloud{
	0%{
		left: -5%;
	}
	100%{
		left: 100%;
	}
}
@-ms-keyframes smallCloud{
	0%{
		left: -5%;
	}
	100%{
		left: 100%;
	}
}

@-moz-keyframes largeCloud{
	0%{
		right: -5%;
	}
	100%{
		right: 100%;
	}
}
@-ms-keyframes largeCloud{
	0%{
		right: -5%;
	}
	100%{
		right: 100%;
	}
}
@-Webkit-keyframes largeCloud{
	0%{
		right: -5%;
	}
	100%{
		right: 100%;
	}
}